<!DOCTYPE html>
<html>
  <head>
    <title>Cv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>vCard & Resume Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="vCard & Resume Template" />
    <meta name="keywords" content="vcard, resposnive, resume, personal, card, cv, cards, portfolio" />
    <meta name="author" content="beshleyua" />

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  </head>

  <body>

  <div class="page new-skin">

    <!-- preloader -->
    <div class="preloader">
      <div class="centrize full-width">
        <div class="vertical-center">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- background -->
    <div class="background gradient">
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <!--
      Container
    -->
    <div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">

      <!--
        Header
      -->
      <header class="header">

        <!-- menu -->
        <div class="top-menu">
          <ul>
            <li class="active">
              <a href="#about-card">
                <span class="icon ion-person"></span>
                <span class="link">About</span>
              </a>
            </li>
            <li>
              <a href="#resume-card">
                <span class="icon ion-android-list"></span>
                <span class="link">Resume</span>
              </a>
            </li>
            <li>
              <a href="#works-card">
                <span class="icon ion-paintbrush"></span>
                <span class="link">Works</span>
              </a>
            </li>
          </ul>
        </div>

      </header>

      <%= yield %>

    </div>
  </div>
  </body>
</html>
